body{
  margin:0;
  background-color: #e6e6e6;
}

.content{
  min-width: 500px;
  width: 40%;
  height: auto;
  font-family: roboto;
  background-color: white;
  //margin-left: 30%;
  margin: auto;
  position: relative;
  margin-top: 2.5%;
  padding: 3%;
  //height: 90%;
  box-shadow: 10px 10px 30px rgba(13, 13, 13, 0.5);
}

.header{
  font-size: 30;
  text-align: center;
}

img{
  width: 60%;
  //height: 200px;
  position: relative;
  margin: auto;
  margin-top: 0%;
  background-size: contain;
  box-shadow: 10px 10px 10px rgba(13, 13, 13, 0.5);
}

.text{
  font-size: 15;
  text-align: left;
  margin-right: 30%;
  margin-top: 5%
}

button{
  cursor: pointer;
  font-size: 17;
  //font-weight:bold;
  color: #e6e6e6;
  align: left;
  width: 200px;
  height: 50px;
  background-color: #33ff33;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
  transition-duration: 0.3s;
  outline: none;
  display: inline-block;
}

button:hover{
  box-shadow: 5px 5px 20px rgba(13, 13, 13, 0.5);
}

button:active{
  box-shadow: 2px 2px 2px rgba(13, 13, 13, 0.5);
}
