body{
  margin:0;
  //background-color: #e6e6e6;
  font-family: roboto;
}

@media screen and (max-width: 1000px){
  .content{
    width: 80% !important;
  }
}

.background{
  background-image: url('skyline.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto;;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
  position: absolute;
}

.background > img {
  width: 100%;
  opacity: 1;
  -webkit-filter: blur(0) grayscale(0%);
  bottom: 0px;
}

.content{
  z-index: 1;
  opacity: 1.5;
  min-width: 500px;
  width: 60%;
  height: auto;
  font-family: roboto;
  background-color: white;
  //margin-left: 30%;
  margin: auto;
  position: relative;
  top: 100px;
  padding: 3%;
  //height: 90%;
  box-shadow: 10px 10px 30px rgba(13, 13, 13, 0.5);
}

.header{
  font-size: 30;
  text-align: center;
}

img{
  //width: 60%;
  height: 200px;
  position: relative;
  margin: auto;
  margin-top: 0%;
  background-size: contain;
  //box-shadow: 10px 10px 10px rgba(13, 13, 13, 0.5);
  -webkit-filter: drop-shadow(10px 10px 10px rgba(13, 13, 13, 0.5));
}

.text{
  font-size: 15;
  text-align: left;
  //margin-right: 30%;
  margin-top: 40px;
  margin-bottom: 20px;
}

button{
  cursor: pointer;
  font-size: 17;
  //font-weight:bold;
  color: #e6e6e6;
  align: left;
  width: 200px;
  height: 50px;
  background-color: #42616f;
  border: none;
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(13, 13, 13, 0.5);
  transition: all 300ms ease-in-out;
  outline: none;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  -webkit-filter: blur(0);
  //backface-visibility: hidden;
}

button:hover{
  box-shadow: 5px 5px 20px rgba(13, 13, 13, 0.5);
  transform: scale(1.01);
}

button:active{
  box-shadow: 2px 2px 2px rgba(13, 13, 13, 0.5);
  transform: scale(0.99);
}
