@media screen and (max-width: 1000px){
  .content{
    width: 80% !important;
  }
}

@font-face {
    font-family: wsFont;
    src: url(MontserratAlternates700.ttf);
}

@font-face {
    font-family: wstitle;
    src: url(WCManoNegraBoldBta.otf);
}

body{
  margin:0;
  background-color: #42616f;
  font-family: wsFont;
}

.background{
  background-image: url('skyline.png');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
  position: fixed;
}

.content{
  z-index: 1;
  opacity: 1.5;
  min-width: 500px;
  width: 60%;
  height: auto;
  background-color: white;
  margin: auto;
  position: relative;
  top: 100px;
  margin-bottom: 100px;
  padding: 3%;
  box-shadow: 10px 10px 30px rgba(13, 13, 13, 0.5);
}

.header{
  font-size: 30;
  text-align: center;
}

img{
  height: 200px;
  position: relative;
  margin: auto;
  margin-top: 0%;
  background-size: contain;
}

h1{
  font-family: wstitle;
  color: #42616f;
  margin: 0px;
}

.text{
  font-size: 22;
  text-align: left;
  color: #42616f;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* button styles*/

button{
  cursor: pointer;
  font-size: 17;
  color: #e6e6e6;
  align: left;
  width: 250px;
  height: 50px;
  background-color: #42616f;
  border: none;
  border-radius: 2px;
  transition: all 300ms ease-in-out;
  outline: none;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  -webkit-filter: blur(0);
  font-family: wsFont;
}

button:hover{
  box-shadow: 5px 5px 20px rgba(13, 13, 13, 0.5);
  transform: scale(1.01);
}

button:active{
  box-shadow: 2px 2px 2px rgba(13, 13, 13, 0.5);
  transform: scale(0.99);
}
