html, body{
  height: 100%;
}


::selection{
  background: #EF432A;
  color: white;
}

@media screen and (max-width: 1000px) {
  /*Menu op telefoon*/
  #burger{
    display: block !important;
    position: fixed;
  }
  .menu > li{
    display: block !important;
    width: 100% !important;
    padding: 0px!important;
    text-align: left !important;
  }
  .menu{
    max-width: 100% !important;
    margin-left: -100% !important;
    position: absolute !important;
    //min-height: 100%;
  }

  .show{
    margin-left: 0px !important;
  }

  ul li{
    display: block !important;
    margin-left: 20px !important;
  }
  li ul{
    display: block !important;
  }
  /*Rest*/
  .content{
    max-width: 100% !important;
    padding: 0px !important;
    overflow: hidden;
  }
  hr{
    visibility: hidden;
  }
  .window{
    width: 100% !important;
    margin-left: 0% !important;
    font-size: 50px !important;
  }
  header{
    height: 50% !important;
  }
  .more{
    visibility: hidden;
  }
  .story{
    width: 95% !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    //font-size: 15px !important;
  }
  span{
    padding: 5px !important;
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: 'open sans'sans-serif;
  font-size: 20px;
  height: 100%;
  //padding-bottom: 100px;
}

span{
  font-variant: small-caps;
  color: #4d4d4d
}

header{
  height: 100%;
  background-image: url("2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-attachment: fixed;
  position: relative;
  overflow:hidden;
  z-index: 1;
}

.bannerbottom{
  width: 100%;
  opacity: 1;
  z-index: 6;
  position: absolute;
  bottom: 0px;
  margin-bottom: -10px;
}

.bannerbottom img{
  width: 100%;
  height: auto;
  opacity: 1 !important;
  z-index: 4;
}

/*read more*/
.more{
  height: 40px;
  background-color: #4d4d4d;
  position: absolute;
  top: calc(100% - 40px);
  width: 100%;
  z-index: 5;
}

.more > .read{
  background-color: white;
  height: 100%;
  width: 100px;
  margin-left: calc(50% - 50px);
  text-align: center;
  color: #4d4d4d;
}

.read:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

/* line */
hr{
  width:120%;
  margin-left:-10%;
}

.content{
  max-width: 50%;
  text-align: left;
  margin:0 auto;
  padding: 40px;
  z-index: 2;
  height: auto;
  margin-top: 0px;
}

/* rand */
.rand{
  margin-left: 65%;
  position: fixed;
  z-index: 3;
  width: 35%;
  bottom: 0px;
  //background-color: pink;
}

.rand img{
  width: 100%;
  height: auto;
}

/* menu and buttons */
#burger{
  display:none;
  color: #4d4d4d;
  z-index: 100;
  position: absolute;
  right: 0px;
  background-color: white;
  padding: 3px;
}

.menu{
  background-color:white;
  width: 100%;
  font-size: 20px;
  //font-weight: 300;
  text-align: center;
  position:fixed;
  z-index:99;
  margin-top: 0px;
  transition-duration: .3s;
}

ul{
  margin: 0;
  padding: 0;
}
ul li{
  display: inline-block;
  position: relative;
  align: center;
  margin-left: 0px;
}

li ul{
  display: none;
}

ul li a{
  display: block;
  text-decoration: none;
  color: #4d4d4d;
  background-color: white;
  padding: 10px 3px 10px 3px;
  margin: 0 auto;
  width: 150px;
  margin-left: 5px;
}

ul li a:hover{
  background-color: #e6e6e6;
}

li:hover ul{
  display: block;
  position: absolute;
}

li:hover li{
  float: none;
  font-size: 20px
}
.menu > .button{
  width: 150px;
  margin: 0 auto;
  transition-duration: .3s;
  display: inline-block;
  padding: 3px;
  background-color: white;
}
/* story */

.story{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  transition: all 1s ease-in-out;
  color: #4d4d4d;
}

.story img{
  float: left;
  width: 150px;
  margin-right: 10px;
  vertical-align: top;
}

/*  window */

.window{
  width: 200%;
  background-image: url("3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0px;
  position: relative;
  background-size: cover;
  overflow:hidden;
  height: 4em;
  margin-left: -50%;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.window span{
  color: white;
  opacity: 0.7;
  margin-top: 50%;
  font-weight: bolder;
  font-style: italic;
  font-variant: inherit;
  top: 1.2em;
  position: relative;
}

footer{
  height: 100px;
  background-color: #4d4d4d;
  box-shadow: 0px 0px 5px #4d4d4d;
  padding-left: 25%;
  padding-top: 10px;
  color: white;
  z-index: 4;
  //position: absolute;
  bottom: 0;
}

footer > a{
  text-decoration: none;
  color: white;
}

footer > span{
  color: white;
}
