html, body{
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .menu > .button{
    display: block !important;
    width: 100% !important;
    //background-color: green !important;
    padding: 0px!important;
  }
  .menu{
    position: relative !important;
  }
  .content{
    max-width: 90% !important;
  }
  hr{
    width: 100% !important;
    margin-left: 0%;
  }
  .window{
    width: 111% !important;
    margin-left: -6% !important;
  }
  header{
    height: calc(100% - 50%)!important;
  }
  .more{
    visibility: hidden;
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: 'open sans'sans-serif;
  font-size: 20px;
  height: 100%;
}

span{
  font-variant: small-caps;
}

header{
  height: 100%;
  background-image: url("2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0px;
  background-attachment: fixed;
  position: relative;
  overflow:hidden;
  z-index: 1;
}

.bannerbottom{
  width: 100%;
  opacity: 1;
  z-index: 6;
  position: absolute;
  bottom: 0px;
  margin-bottom: -10px;
}

.bannerbottom img{
  width: 100%;
  height: auto;
  opacity: 1 !important;
  z-index: 4;
}

/*read more*/
.more{
  height: 40px;
  background-color: #4d4d4d;
  position: absolute;
  top: calc(100% - 40px);
  width: 100%;
  z-index: 5;
}

.more > .read{
  background-color: white;
  height: 100%;
  width: 100px;
  margin-left: calc(50% - 50px);
  text-align: center;
  color: #4d4d4d;
}

.read:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

/* line */
hr{
  width:120%;
  margin-left:-10%;
}

.content{
  max-width: 50%;
  text-align: left;
  margin:0 auto;
  padding: 40px;
  z-index: 2;
  height: auto;
  margin-top: 0px;
}

/* rand */
.rand{
  margin-left: 65%;
  position: fixed;
  z-index: 3;
  width: 35%;
  bottom: 0px;
  //background-color: pink;
}

.rand img{
  width: 100%;
  height: auto;
}

/* menu and buttons */

.menu{
  background-color: #4d4d4d;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  color: #4d4d4d;
  text-align: center;
  position:fixed;
  z-index:99;
}

.menu > .button{
  width: 150px;
  margin: 0 auto;
  transition-duration: .3s;
  display: inline-block;
  padding: 3px;
  background-color: white;
}

.button:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

/* story */

.story{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  max-height: 150px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.story:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 100px, white);
}

.story:hover::before{
  background:linear-gradient(transparent 100px, transparent);
  z-index: -1;
}

.story:hover{
  max-height: 10000px;
}

.story img{
  float: left;
  width: 150px;
  margin-right: 10px;
  vertical-align: top;

}

/*  window */

.window{
  width: 200%;
  background-image: url("3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0px;
  position: relative;
  background-size: cover;;
  overflow:hidden;
  height: 4em;
  margin-left: -50%;
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.window span{
  color: white;
  opacity: 0.7;
  margin-top: 50%;
  font-weight: bolder;
  font-style: italic;
  font-variant: inherit;
  top: 1.2em;
  position: relative;
}
