* {
  transform: 0.1s all ease-in-out;
}

img{
  -webkit-filter: contrast(1);
  max-height: 500px;
  max-width: 100%;
  //transition: 2s all ease-in-out;
  position: relative;
  //top: 30%;
  //left: 30%;
  //transform: translate(-40%, -40%);
}

.bar{
  width: 100%;
}
